<div class="col-sm-offset-4 col-sm-4">
    <div class="col-sm-offset-1 col-sm-10">
        <div class="form-login">
            <h4>Welcome!</h4>
            <input type="text"
                   class="form-control input-sm chat-input"
                   placeholder="Username"
                   ng-model="vm.username"/>
            </br>
            <input type="password"
                   class="form-control input-sm chat-input"
                   placeholder="Password"
                   ng-model="vm.password"/>
            </br>
            <div class="row">
                <div class="col-xs-offset-4 col-xs-4">
                    <span class="group-btn" ng-click="vm.login()">
                        <a href="#" class="btn btn-primary btn-md">Login <i class="fa fa-sign-in"></i></a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
