<nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <a class="navbar-brand" href="#">
            <span>Customer Support Ticketing System</span>
        </a>
    </div>
    <div class="navbar-header pull-right"
         ng-hide="!currentUser">
        <a class="navbar-brand" href="logout">
            <span>Logout</span>
        </a>
    </div>
    <!--<ul class="nav navbar-nav">-->
    <!--<li class="dropdown" dropdown on-toggle="toggled(open)">-->
    <!--<a href="#" class="dropdown-toggle" dropdown-toggle role="button">-->
    <!--Nav1-->
    <!--<span class='caret'></span>-->
    <!--</a>-->
    <!--<tree tree='tree'></tree>-->
    <!--</li>-->
    <!--<li class="dropdown" dropdown on-toggle="toggled(open)">-->
    <!--<a href="#" class="dropdown-toggle" dropdown-toggle role="button">-->
    <!--Nav2-->
    <!--<span class='caret'></span>-->
    <!--</a>-->
    <!--<tree tree='tree'></tree>-->
    <!--</li>-->
    <!--</ul>-->
</nav>

<ui-view>Loading...</ui-view>
